.google-map-container {
  height: 550px;
  width: 100%;
}

.breadcrumb {
  background-color: transparent;
  margin: 0;
  text-align: left;
  padding-left: 20%;
}

.form-heading {
  display: inline-block;
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 1em;
  letter-spacing: -1.6px;
}

.contact-info {
  -webkit-box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
  box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.bg-hover {
  position: relative;
}

.contact-area {
  /* background-color: #012269; */
}

.color-1 {
  color: #012269;
}

.color-3 {
  color: #c91030;
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.fa-3x {
  font-size: 3em !important;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.contact-info {
  -webkit-box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
  box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.contact-info h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 0.9em;
  letter-spacing: -1.6px;
}
.contact-info a {
  color: #444;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.contact-info a:hover {
  color: #444;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.contact-info p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #565656;
  margin-bottom: 0;
}

.color-1.bg-hover:hover::after,
.color-1.bg-hover.active::after {
  background-color: #012269;
}

.color-3.bg-hover:hover::after,
.color-3.bg-hover.active::after {
  background-color: #c91030;
}

.bg-hover.hover-bottom::after {
  bottom: 0;
}
.bg-hover::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 100%;
  left: 0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.form-group {
  margin-bottom: 1rem;
}

.contact-box .form-group input,
.contact-box .form-group select,
.contact-box .form-group textarea {
  font-size: 14px;
  height: 50px;
  padding: 0 15px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control {
  font-size: 15px;
  height: 60px;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control select {
  color: #6c757d;
}

.contact-box .form-group textarea {
  height: 160px;
  padding: 15px;
}

.contact-box .form-group input,
.contact-box .form-group textarea {
  font-size: 14px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* .btn,
.btn:active,
.btn.btn-bordered:before,
.btn.btn-bordered-white:after {
  background: linear-gradient(-45deg, #af52ed 0%, #8830df 100%);
} */

.send-btn {
  width: 100%;
  border-radius: 32px !important;
  border-color: transparent;
  color: white !important;
  border: none !important;
  background: linear-gradient(-45deg, #012269 0%, #c91030 100%);
  /* background-color: #c91030 !important ; */
}

.contact-address-container {
  padding: 3rem 0;
}

.contact-address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 0 3px 20px 0px rgb(0 0 0 / 12%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.contact-address-wrapper img {
  width: 100px;
  height: 50px;
}

.contact-address-wrapper p {
  color: #7a7a7a;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 576px) {
  .info-container h3 {
    font-size: 1.5rem !important;
  }
}
